@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base{
    @font-face{
      font-family: 'ClashDisplay-Regular';
      src: url('./assets/ClashDisplayRegular.otf').format('otf');
      font-weight: 400;
      font-display:swap;
      font-style: normal;
    }
    @font-face{
      font-family: 'ClashDisplay-Medium';
      src: url('./assets/ClashDisplayMedium.otf').format('otf');
      font-weight: 500;
      font-display:swap;
      font-style: normal;
    }
    @font-face{
      font-family: 'ClashDisplay-Bold';
      src: url('./assets/ClashDisplayBold.otf').format('otf');
      font-weight: 700;
      font-display:swap;
      font-style: normal;
    }
  }

